.add-row {
    cursor: pointer;
}

.add-row:hover {
    background: #888888;
}

.edit-row {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin: 10px;
}

.modal-body {
    margin: 10px;
}