.add-row {
    cursor: pointer;
    width: 20px;
}

.add-row:hover {
    background: #888888;
}

.delete-row {
    cursor: pointer;
    width: 20px;
}

.delete-row:hover {
    background: #ff0000;
}

.edit-row {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin: 10px;
}

.modal-body {
    margin: 10px;
}